.main {
    height: 440px;
    width: 1232px;
    box-shadow: 0px 0px 14px 0px #00000012;
    margin: 40px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}

.mainFirst img {
    width: 417px;
    height: 297px;
    margin-left: 84px;

}


.mainSec h1 {
    font-size: 28px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;

}

.mainSec p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-right: 29px;
    width: 488px;
    color: #808E9A;

}

@media screen and (max-width: 375px) {
    .main {
        flex-direction: column;
        width: 335px;
        height: 488px;
        top: 1305px;
    }

    .mainFirst img {
        width: 242.74px;
        height: 172.8px;
        margin: 65px auto 0px auto;

    }

    .mainSec {
        margin-bottom: 54px;
    }

    .mainSec h1 {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        text-align: center;

    }

    .mainSec p {
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: center;
        width: 256px;
        margin-top: 16px;


    }
}